.intro {
  background-color: #f9f7fe;
  padding: 329px 375px 443px 372px;
}

.intro h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.intro h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}

.intro p {
  font-size: 24px;
  font-style: normal;
  color: #272142;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  margin-bottom: 49px;
}

.intro a {
  font-size: 18px;
  color: white;
  background: #6c63ff;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: "Poppins", sans-serif;
}
