.intro {
  background-color: #f9f7fe;
  padding: 10vw 20px;
  text-align: center;
}

.intro h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.intro h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}

.intro p {
  font-size: 24px;
  font-style: normal;
  color: #272142;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  margin-bottom: 49px;
}

.intro a {
  font-size: 18px;
  color: white;
  background: #6c63ff;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: "Poppins", sans-serif;
}

.projects h4 {
  font-size: 18px;
  text-align: center;
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 127px;
  margin-bottom: 82px;
}

.projects h2 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: bolder;
  margin-top: 95px;
}

.projects p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #272142;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 55px;
}

.projects a {
  border-radius: 4px;
  border: 1px solid #6c63ff;
  padding: 18px 30px;
  text-decoration: none;
  color: #6c63ff;
}

.info-project {
  margin-bottom: 70px;
}

/*About page*/

.about-section {
  padding: 170px 20px;
}

.about-section h1 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: bold;
  line-height: normal;
  margin-bottom: 29px;
}

.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #272142;
  margin-bottom: 28px;
}

.about-section p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: rgba(39, 33, 66, 0.7);
  line-height: 30px;
  margin-bottom: 66px;
}

.about-section a {
  padding: 18px 30px;
  border-radius: 4px;
  background: #6c63ff;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.about-section-description {
  margin-right: 96px;
}

.about-section img {
  border-radius: 15px;
}

@media (max-width: 990px) {
  .intro h1 {
    font-size: 45px;
  }

  .intro h2 {
    font-size: 25px;
  }

  .intro p {
    font-size: 20px;
  }

  .info-project {
    text-align: center;
  }
  .projects h2 {
    margin: 0;
    font-size: 45px;
  }

  .projects h4 {
    margin-top: 60px;
    font-size: 10px;
  }

  .about-section-description {
    margin: 0;
  }

  .about-section {
    padding: 50px;
    text-align: center;
  }

  .about-section h1 {
    font-size: 45px;
  }
  .about-section-image {
    margin-top: 70px;
  }
}
