.intro {
  background-color: #f9f7fe;
  padding: 10vw 20px;
  text-align: center;
}

.intro h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.intro h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}

.intro p {
  font-size: 24px;
  font-style: normal;
  color: #272142;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  margin-bottom: 49px;
}

.intro a {
  font-size: 18px;
  color: white;
  background: #6c63ff;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: "Poppins", sans-serif;
}

.projects h4 {
  font-size: 18px;
  text-align: center;
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 127px;
  margin-bottom: 82px;
}

.projects h2 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: bolder;
  margin-top: 95px;
}

.projects p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #272142;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 55px;
}

.projects a {
  border-radius: 4px;
  border: 1px solid #6c63ff;
  padding: 18px 30px;
  text-decoration: none;
  color: #6c63ff;
}

.info-project {
  margin-bottom: 70px;
}

/*About page*/

.content-section {
  padding: 170px 20px;
}

.content-section h1 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: bold;
  line-height: normal;
  margin-bottom: 29px;
}

.content-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #272142;
  margin-bottom: 28px;
}

.content-section p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: rgba(39, 33, 66, 0.7);
  line-height: 30px;
  margin-bottom: 66px;
}

.content-section a {
  padding: 18px 30px;
  border-radius: 4px;
  background: #6c63ff;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.about-section-description {
  margin-right: 96px;
  margin-bottom: 70px;
}

.about-section-image img {
  border-radius: 15px;
}

/*work page */
.work-section h1 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: bold;
  line-height: normal;
  margin-top: 150px;
  margin-bottom: 103px;
}

.work-section-name {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.work-section-name h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 9px;
}

.work-section-name p {
  font-size: 14px;
  font-weight: normal;
  color: rgba(39, 33, 66, 0.7);
  margin-bottom: 40px;
}

.work-section-name img {
  border-radius: 20px;
}

.navbar-nav a {
  padding: 0 20px !important;
  color: rgba(39, 33, 66, 0.7) !important;
  font-family: "Poppins", sans-serif !important;
}

.active {
  color: #6c63ff !important;
}

footer {
  margin-bottom: 69px;
}

footer h3 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Playfair Display";
}

footer p {
  font-size: 18px;
  color: rgba(39, 33, 66, 0.7);
}

footer .footer-button-parents {
  margin-top: 40px;
}

footer .footer-button {
  background-color: #6c63ff;
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
}

footer .footer-work-inquiry {
  background-color: #f9f7fe;
  padding: 36px 53px;
  border-radius: 20px;
}

footer .email-logos {
  margin-top: 81px;
}

footer .email {
  margin-bottom: 45px;
}

footer .email a {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}

footer .logos a {
  margin-left: 30px;
  font-size: 18px;
  color: #6c63ff;
  padding: 10px 12px 9px;
  background-color: #f9f7fe;
  border-radius: 30px;
}

@media (max-width: 990px) {
  .intro h1 {
    font-size: 45px;
  }

  .intro h2 {
    font-size: 25px;
  }

  .intro p {
    font-size: 20px;
  }

  .info-project {
    text-align: center;
  }
  .projects h2 {
    margin: 0;
    font-size: 45px;
  }

  .projects h4 {
    margin-top: 60px;
    font-size: 10px;
  }

  .about-section-description {
    margin-right: 0;
  }

  .content-section {
    padding: 50px;
    text-align: center;
  }

  .content-section h1 {
    font-size: 45px;
  }
  .work-section h1 {
    font-size: 41px;
    text-align: center;
    margin: 50px 0 50px;
  }

  footer h3 {
    font-size: 36px;
  }

  footer p {
    font-size: 16px;
  }

  footer .footer-work-inquiry {
    padding: 20px 30px;
  }

  footer .footer-button-parents {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  footer .footer-button {
    padding: 30px 24px;
  }
}
